<div class="container">
  <div class="row">
    <div class="card">
      <div class="icon-wrapper">
        <img
          src="./../../assets/svg/account.svg"
          alt="Human icon"
          class="card-icon"
        />
      </div>
      <p class="card-heading">Total Customers</p>
      <p class="card-number">{{ totalUsers }}</p>
    </div>
    <div class="card">
      <div class="icon-wrapper">
        <img
          src="./../../assets/svg/disbursement.svg"
          alt="Human icon"
          class="card-icon"
        />
      </div>
      <p class="card-heading">Total Disbursement</p>
      <p class="card-number">N{{ totalDisbursement }}</p>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="icon-wrapper">
        <img
          src="./../../assets/svg/inflow.svg"
          alt="Human icon"
          class="card-icon"
        />
      </div>
      <p class="card-heading">Total Inflow</p>
      <p class="card-number">N{{ totalCredit }}</p>
    </div>
    <div class="card">
      <div class="icon-wrapper">
        <img
          src="./../../assets/svg/outflow.svg"
          alt="Human icon"
          class="card-icon"
        />
      </div>
      <p class="card-heading">Total Outflow</p>
      <p class="card-number">N{{ totalDebit }}</p>
    </div>
  </div>
</div>
