<div class="container">
  <div class="logo-wrapper">
    <img src="./../../assets/svg/Logo.svg" alt="Logo" class="logo" />
  </div>
  <div class="nav-items">
    <a class="nav-link-item" routerLink="/" (click)="closeNavMenu()">
      <img
        src="./../../assets/svg/menu.svg"
        alt="Menu Icon"
        class="item-icon"
      />
      Dashboard
    </a>
    <a class="nav-link-item" routerLink="/users" (click)="closeNavMenu()">
      <img
        src="./../../assets/svg/user-03.svg"
        alt="Menu Icon"
        class="item-icon"
      />
      Users
    </a>
  </div>
</div>
